<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta property="wb:webmaster" content="c0a0b4b5bfc62fc2" />
<!--<link rel="stylesheet" href="/s/css/morris.css">-->
<link href="/s/css/bootstrap.min.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="/s/js/html5shiv.js"></script>
  <script src="/s/js/respond.min.js"></script>
<![endif]-->

<title>{{page_title}}</title>
<style>
body, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
    body {
        padding: 10px;
        padding-top: 70px;
    }
</style>
</head>
<body>

<div class="container-fluid main">

<h1 class="page-header">{{page_title}}</h1>
<div class="row">
  <div class="col-lg-2 col-md-12 text-center">
  </div>
  <div class="col-lg-8 col-md-12 text-center">
    Auth Token: {{token}}
    </br>
    Expired Time: {{expired}}
  </div>
</div>

</div>
</body>
<script src="/s/js/jquery-1.11.0.js"></script>
<script src="/s/js/bootstrap.min.js"></script>

</html>
