<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="wb:webmaster" content="c0a0b4b5bfc62fc2" />
  <title>小乖睡眠</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <!--[if lt IE 9]><script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
  .table tbody>tr>td{
    vertical-align: middle;
  }
  form {
    vertical-align: middle;
  }
  .dateholder {margin-top:10px}
  </style>
</head>
  
<body>
  <nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">泡茶</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">吃药</a></li>
		<li><a href="/timeline">作息</a></li>
        <li class="active"><a href="#">睡眠</a></li>		
        <!--li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li-->
      </ul>
	  % if logged_in:
      <ul class="nav navbar-nav navbar-right">
	    <li><a href="#">欢迎您: {{user.name}}</a></li>
	    <li><a href="/signout">退出</a></li>
	  </ul>	  
	  % else:
      <ul class="nav navbar-nav navbar-right">
	    <li><a href="/signin">微薄登录</a></li>
	  </ul>
	  % end
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    % if logged_in:
    <div class="row">
      <div class="col-md-12">
	    <form class="form-inline" action='/querysleep' method='POST'>
			<div class="form-group dateholder">
				<!--label for="startdate">起始时间</label-->
                <div class="input-group date startdate" data-date="" data-date-format="yyyy-mm-dd" data-link-field="startdate" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" value="{{startdate}}" readonly>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
				<input type="hidden" id="startdate" name="startdate" value="{{startdate}}" /><br/>
			</div>
			<div class="form-group dateholder">
				<!--label for="enddate">起始时间</label-->
                <div class="input-group date enddate" data-date="" data-date-format="yyyy-mm-dd" data-link-field="enddate" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" value="{{enddate}}" readonly>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
				<input type="hidden" id="enddate" name="enddate" value="{{enddate}}" /><br/>
            </div>
            <button type="submit" class="btn btn-default">确认日期</button>
        </form>
	  </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <tbody>
			  <thead>
			      <tr>
					<th>日期</th>
					<th>严格时间(严格睡、睡醒对儿)</th>
					<th>宽松时间(允许漏掉睡、睡醒)</th>
				  <tr>
			  </thead>
		      % for s in sleeps:
              <tr data-actid="{{s.id}}">
                <td>{{s.statdate}}</td>
				<td>{{s.shortmins / 60}}小时 &nbsp; {{s.shortmins % 60}}分钟</td>
                <td>{{s.longmins / 60}}小时 &nbsp; {{s.longmins % 60}}分钟</td>
              </tr>
			  % end
          </tbody>
        </table>
	  </div>
    </div>
	
	% end
  </div>
  
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>  
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/bootstrap-editable.min.js" charset="UTF-8"></script>
<script type="text/javascript">
    $.fn.editable.defaults.mode = 'inline';
/*	$(document).ready(function() {
        $('.x_editable').editable();
    });*/
	
	$('.startdate').datetimepicker({
        weekStart: 1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	$('.enddate').datetimepicker({
        weekStart: 1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
</script>
</body>
</html>
