<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="wb:webmaster" content="c0a0b4b5bfc62fc2" />
  <title>小乖作息</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="/css/bootstrap-editable.css" rel="stylesheet">
  <!--[if lt IE 9]><script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
  .table tbody>tr>td{
    vertical-align: middle;
  }
  form {
    vertical-align: middle;
  }
  #dateholder {margin-top:20px}
  </style>
</head>
  
<body>
  <nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">泡茶</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">吃药</a></li>
		<li class="active"><a href="#">作息</a></li>
        <li><a href="/sleep">睡眠</a></li>
        <!--li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li-->
      </ul>
	  % if logged_in:
      <ul class="nav navbar-nav navbar-right">
	    <li><a href="#">欢迎您: {{user.name}}</a></li>
	    <li><a href="/signout">退出</a></li>
	  </ul>	  
	  % else:
      <ul class="nav navbar-nav navbar-right">
	    <li><a href="/signin">微薄登录</a></li>
	  </ul>
	  % end
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    % if logged_in:
    <div class="row">
      <div class="col-md-6">
   	    <a class='btn btn-mini btn-primary' href='/timeadd/{{statdate}}_1'>睡</a>
		<a class='btn btn-mini btn-success' href='/timeadd/{{statdate}}_2'>睡醒</a>
		<a class='btn btn-mini btn-info' href='/timeadd/{{statdate}}_3'>吃</a>
		<a class='btn btn-mini btn-warning' href='/timeadd/{{statdate}}_4'>吃完</a>
		<a class='btn btn-mini btn-danger' href='/timeadd/{{statdate}}_5'>玩</a>
		<a class='btn btn-mini btn-default' href='/timeadd/{{statdate}}_6'>大便</a>
	  </div>
      <div class="col-md-6">
	    <form class="form-inline" action='/actdate' method='POST'>
			<div class="form-group" id="dateholder">
                <div class="input-group date my_form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="statdate" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" value="{{statdate}}" readonly>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
				<input type="hidden" id="statdate" name="statdate" value="{{statdate}}" /><br/>
            </div>
            <button type="submit" class="btn btn-default">确认日期</button>
        </form>
	  </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        % if actions:
        <table class="table table-striped">
          <tbody>
		      % for act in actions:
              <tr data-actid="{{act.id}}">
                <td>{{action_str.get(act.action)}}</td>
                <td><a href="#" class='x_editable' data-name="stattime" data-type="text" data-pk="{{act.id}}" data-url="/timeedit" data-title="Enter Time">{{act.stattime}}</a></td>
                <td>
		          <a class='btn btn-mini btn-danger' href='/timedel/{{statdate}}_{{act.id}}' onclick="return confirm('将要删除本记录，是否确认？');">删除</a>
                </td>
              </tr>
			  % end
          </tbody>
        </table>
	    % end
	  </div>

	  <div class='col-md-6'>
        % if actions:	  
		<ul class="timeline">
			% for act in actions:
			    % if act.action <= 2:
			<li>
			  <div class="timeline-badge danger"><i class="glyphicon glyphicon-eye-close"></i></div>
			    % elif act.action <= 4:
			<li class="timeline-inverted">
			  <div class="timeline-badge warning"><i class="glyphicon glyphicon-cutlery"></i></div>
			    % else:
			<li class="timeline-inverted">
			  <div class="timeline-badge info"><i class="glyphicon glyphicon-headphones"></i></div>
			    % end
				
			  <div class="timeline-panel">
				<div class="timeline-heading">
				  <h4 class="timeline-title">{{action_str.get(act.action)}} &nbsp;&nbsp; <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{act.stattime}}</small></h4>
				</div>
			  </div>
			</li>
			% end
		</ul>
		% end
	  </div>
    </div>
	
	% end
  </div>
  
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>  
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/bootstrap-editable.min.js" charset="UTF-8"></script>
<script type="text/javascript">
    $.fn.editable.defaults.mode = 'inline';
	$(document).ready(function() {
        $('.x_editable').editable();
    });
	
	$('.my_form_date').datetimepicker({
        weekStart: 1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
</script>
</body>
</html>
